@font-face {
  font-family: 'Rubik';
  src: url(../content/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

body {
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e9d5ec 10%, #a5d6f6 100%);
    padding: 1vw;
    margin: 0px;
    font-family: "Rubik", sans-serif;
    color:rgb(154, 109, 150);
}

.topbar {
  margin: 0vw;
}

#test {
  
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;  
    /*max-width: 916px;*/
    width: calc(100% - 20px);
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 260px;
    width: 300px;
    cursor: url("../content/cursor.png"), default;
    position: relative;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  

/*.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(133, 6, 59, 0.06),
        trasparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}*/

h1, h2, h3, h4, span {
  color: rgb(122, 79, 118);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info-title > h3 {
  font-size: 1.2em;
  line-height: 20px;
  font-weight: 600;
}

.card-info-title > h4 {
  color: rgba(80, 19, 55, 0.785);
  font-size: 0.85em;
  margin-top: 8px;
}

a:link{text-decoration: none;}

.about {
  padding-left: 1vw;
}
.about a:link {
  color:rgb(191, 51, 177);
}
.about a:visited {
  color:rgb(152, 38, 140);
}